{{#if user}}
  <div id="ch-tweet-form" class="clearfix well">
    <form id="chTweetForm" action="/tweets" method="POST">
      <div class="ch-section">
        <textarea class="form-control" name="tweet" placeholder="Tweet here"></textarea>
        <br />
      </div>
      <div id="ch-tweet-button" class="ch-section">
        <input type="submit" class="btn btn-primary" value="Tweet" />
      </div>
      <div id="limit" data-limit="">
      </div>
    </form>
  </div>
{{else}}
  <div class="jumbotron text-center">
    <p>Login or Register</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
  </div>
{{/if}}
